fastapi==0.116.1
uvicorn==0.35.0
motor==3.7.1
pymongo==4.14.1
numpy
python-dotenv
apscheduler
python-dateutil
pandas==2.0.3   # last pandas that works well with py3.9
matplotlib
scikit-learn
xgboost
lightfm==1.17
